parameters:
    level: 1    # Move towards level 5 or 6
    paths:
        - src
        - tests
    excludePaths:    # Exclude code which has yet to be refactored / removed
        - src/Api/*
        - src/Repository/RestApi/*
        - src/Repository/WordPress/*
        - src/Cache/HttpCache.php
        - src/Repository/RestData.php
        - src/Repository/Wordpress.php
        - tests/*_todo.php
        - tests/Api/*
        - tests/Cms/*
        - tests/Content/*
        - tests/Storage/*